.slider {
  display: flex;
  align-items: center;

  width: 150px;
  width: 450px;

  &__arrow {
    cursor: pointer;
  }

  &__window {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }

  &__all-items-container {
    height: 100%;
    display: flex;

    transition: transform 0.3s ease;
  }
}
