@mixin blog-link {
  text-decoration: underline;
}

.section-blog-slider {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;

  .slider-track {
    display: flex;

    .slide {
      display: flex;
      min-width: 90vw;

      color: #fff;

      &__img {
        object-fit: contain;

        min-width: 50%;
        height: auto;
      }

      .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 7.5rem;

        padding: 5rem 7.5rem 7.5rem 5rem;

        .blog-header {
          display: flex;
          justify-content: space-between;

          &__link {
            @include blog-link;
          }
        }

        .blog-body {
          margin-bottom: auto;

          &__blog-title {
            font-size: clamp(2rem, 1vw + 1.5rem, 4rem);
            margin-bottom: 4rem;
          }

          &__blog-description {
            $line-clamp: 6;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $line-clamp;
            line-clamp: $line-clamp;
            overflow: hidden;

            color: #9b9b9b;
          }
        }

        .blog-footer {

          &__link {
            @include blog-link;

            display: flex;
            align-items: center;
            gap: 1.5rem;


            &::before {
              content: "";
              display: inline-block;

              width: 3rem;
              height: 1px;

              background-color: #fff;
            }
          }
        }
      }
    }
  }

  &__slide-btn {
    position: absolute;
    top: 50%;
    translate: 0 -50%;

    padding: 3.5rem .3rem;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.05);

    background-color: rgba(255, 255, 255, 0.9);

    svg {
      display: block;

      width: 3.5rem;
      height: 3.5rem;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}
