.footer {
  background-image: url("./footer-bg.svg");
  height: 800px;

  // image on 100vw
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;

  color: #fff;

  .footer__container {
    padding-top: 18rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
  }
}
