.section-product-slider {
  position: relative;

  &__heading {
    text-align: center;

    font-size: clamp(2.8rem, 1vw + 1.2rem, 4rem);
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 5rem;
  }

  &__cards {
    overflow: auto hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    gap: 2.6rem;

    margin-bottom: 7.5rem;

    &>* {
      scroll-snap-align: start;
    }
  }

  &__button {
    $arrow_offset: -6%;

    position: absolute;
    top: 50%;
    translate: 0 -50%;

    svg {
      width: 3.5rem;
      height: 3.5rem;
    }

    &--left {
      left: $arrow_offset;
    }

    &--right {
      right: $arrow_offset;
    }
  }
}
