.home-page {
  &__slider {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

  &__featured-in {
    padding: 5rem 0;
  }

  &__sales-cards {
    margin-bottom: 10rem;
  }

  &__section-product-slider {
    margin-bottom: 10rem;
  }

  &__section-banner {
    margin-bottom: 7.5rem;
  }
}
