.section-product-categories {
  .slider {
    &__viewport {
      overflow: hidden;
      height: 20rem;
      display: flex;
      align-items: center;
    }

    &__list {
      display: flex;
      width: fit-content;

      &-item {
        background-color: #f9f9f9;
        border-radius: 50%;
        transition: scale 0.2s ease;
        scale: 0.8;

        &:hover {
          scale: 0.95;
        }

        img {
          padding: 2rem;
          width: 12rem;
          height: 12rem;

          width: calc(1700px / 9);
          height: auto;
        }
      }
    }
  }
}
