.section-product-categories {
  .slider {
    position: relative;

    &__arrow {
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      svg {
        width: 3rem;
        height: 3rem;
      }

      &.left {
        position: absolute;
        left: -5rem;
      }

      &.right {
        position: absolute;
        right: -5rem;
      }
    }

    &__viewport {
      overflow: hidden;
      height: 20rem;
      display: flex;
      align-items: center;
    }

    &__list {
      display: flex;
      width: fit-content;
      transition: transform 0.3s ease-in-out;

      &-item {
        background-color: #f9f9f9;
        border-radius: 50%;
        transition: scale 0.2s ease;
        scale: 0.8;

        &:hover {
          scale: 0.95;
        }

        img {
          padding: 2rem;
          width: 12rem;
          height: 12rem;

          width: calc(1700px / 9);
          height: auto;
        }
      }
    }
  }
}
