.section-product-categories {
  .slider {
    position: relative;
    &__arrow-left {
      position: absolute;
      left: -5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;

      svg {
        width: 3rem;
        height: 3rem;
      }
    }

    &__viewport {
      overflow: hidden;
      height: 20rem;
      display: flex;
      align-items: center;
    }

    &__list {
      display: flex;
      width: fit-content;

      &-item {
        background-color: #f9f9f9;
        border-radius: 50%;
        transition: scale 0.2s ease;
        scale: 0.8;

        &:hover {
          scale: 0.95;
        }

        img {
          padding: 2rem;
          width: 12rem;
          height: 12rem;

          width: calc(1700px / 9);
          height: auto;
        }
      }
    }

    &__arrow-right {
      position: absolute;
      right: -5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;

      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
