.faq-section {
  display: flex;
  gap: 2rem;


  &__sidebar {
    min-width: 22rem;
    flex-shrink: 0;
  }

  .info {

    &__title {
      margin-bottom: 1.6rem;
    }

    &__list {

      .question {
        margin-bottom: 0.5rem;
      }

      .answer {
        margin-bottom: 2.4rem;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
