.faq-section {
  display: grid;
  grid-template-columns: 1fr 2.5fr;

  &__info-title {
    margin-bottom: 1.6rem;
  }

  &__list {

    &-question {
      margin-bottom: 0.5rem;
    }

    &-answer {
      margin-bottom: 2rem;
    }

    a {
      text-decoration: underline;
    }
  }
}
