@use "sass:color";

.card-product {
  position: relative;

  .product-photo {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4.5rem 2.5rem 5.5rem 2.5rem;
    margin-bottom: 1rem;

    background-color: #f9f9f9;

    &__img {
      width: 27rem;
      height: 27rem;
    }

    &__discount {
      position: absolute;
      left: 0;
      bottom: 0;

      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.5rem;
      padding: 0 1rem;

      color: #f2f2f2;
      background-color: #eb5757;
    }
  }

  .favorite-btn {
    $bgc_btn: #fff;
    $bgc_is_fav_btn: #000;

    transition: all .15s ease;
    position: absolute;
    right: 1rem;
    top: 1rem;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid rgb(242, 242, 242);

    background-color: $bgc_btn;

    &:hover {
      background-color: color.adjust($bgc_btn, $lightness: -5%);
    }

    &:active {
      background-color: color.adjust($bgc_btn, $lightness: -20%);
    }

    &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;

      width: 2.3rem;
      height: 2.3rem;
    }

    &--is-favorite {
      background-color: $bgc_is_fav_btn;

      &:hover {
        background-color: color.adjust($bgc_is_fav_btn, $lightness: 15%);
      }

      &:active {
        background-color: color.adjust($bgc_is_fav_btn, $lightness: 25%);
      }

      .favorite-btn__icon {
        color: #fff;
      }
    }
  }

  .describtion {

    &__brand-name {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: .5rem;
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1rem;

      color: #828b8d;
    }

    &__price {
      display: flex;
      gap: 1.3rem;

      font-size: 2rem;
      font-weight: 600;

      strong {
        font-weight: inherit;
      }

      &--original {
        text-decoration: line-through;
        text-decoration-thickness: .2rem;
      }

      &--discounted {
        color: #eb5757;
      }
    }
  }
}
