.banner-categories {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;

  background-color: #000;
  color: #fff;

  &__path {
    margin-bottom: 5rem;
    display: flex;
    gap: 2rem;
  }
}
