.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2.2rem 0;

  &__filters {
    display: flex;
    gap: 2.5rem;

    scale: 1.1;
    transform-origin: left center;
  }

  &__list {
    display: flex;
    gap: 2.5rem;

    &__icon {
      height: 2.8rem;
      width: 2.8rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}
